<div >
<form name='Signupform' novalidate>
   <fieldset >
<p> Firstname:<input type="text" name="First" ng-model="$ctrl.data.First" required ng-minlength="5" placeholder="firstname" class="form-elements">
  <span ng-if="(Signupform.First.$error.minlength  && Signupform.First.$touched)">
            FirstName must be at least 5 characters long
          </span>
</p>
<p> last name:<input type="text" name="Last" ng-model="$ctrl.data.Last" required placeholder="lastname" ng-minlength="3" class="form-elements"></p>
<span ng-if="(Signupform.Last.$error.minlength  && Signupform.Last.$touched)">
          Lastname must be at least 3 characters long
        </span>
<p>email address:<input type="email" name="email" ng-model="$ctrl.data.email" required placeholder="email"  class="form-elements">
  <span ng-if="Signupform.email.$invalid && Signupform.email.$touched">
             Must be a valid email address: handle@domain format
           </span></p>
 <p> phone number:<input type="text" name="phn" ng-model="$ctrl.data.phn" required placeholder="Phone number"  class="form-elements" pattern="(\d{3})-(\d{3})-(\d{4})">
   <span ng-if="Signupform.phn.$invalid && Signupform.phn.$touched">
               Phone # must be in the format ###-###-####.
             </span>
 </p>
 <p>Menu number:<input type="text" name="menum" ng-model="$ctrl.data.menum" placeholder="Menu Number"  class="form-elements" ></p>
 <p><span ng-if="Signupform.First.$error.required || Signupform.Last.$error.required ||
 Signupform.email.$error.required || Signupform.phn.$error.required">
           required fields missing
         </span>
</p>
 <p><button  ng-disabled="regForm.$invalid" class="form-elements" ng-click="$ctrl.onSubmit()">Submit</button></p>
  </fieldset>
            </form>
  </div>
